body {
  font: 18px Helvetica, Arial, sans-serif;
  padding: 100px;
}
input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5em;

  font-size: 30px;
  text-align: center;

}
input:focus {
  outline: none;
}