<!DOCTYPE html>
<html ng-app="demo">
    <head>
        <meta charset="utf-8"/>
        <title>Angular-Kana Demo</title>
        <style>
            body {
                padding: 100px;
            }
            input {
                border-radius: 8px;
                border: 1px solid #ccc;
                padding: 0.5em;

                font-size: 30px;
                text-align: center;

            }
            input:focus {
                outline: none;
            }
        </style>
    </head>
    <body ng-controller="DemoController">
        <div>
            <label>
                <input type="radio" name="which-kana" value="hiragana" ng-model="whichKana" />
                Hiragana
            </label>

            <label>
                <input type="radio" name="which-kana" value="katakana" ng-model="whichKana" />
                Katakana
            </label>
        </div>

        <input type="text" to-kana placeholder="Type here" />

        <script src="../bower_components/angular/angular.js"></script>
        <script src="../angular-kana.js"></script>
        <script src="demo.js"></script>
    </body>
</html>
