<!DOCTYPE html>
<html ng-app="demo">
    <head>
        <meta charset="utf-8"/>
        <title>Angular-Kana Demo</title>
        <link rel="stylesheet" href="demo.css"/>
    </head>
    <body ng-controller="DemoController">
        <section class="demo-section">
            <header class="demo-section-header">
                <h2>Hiragana Mode (default)</h2>
            </header>

            <input type="text" to-kana="'hiragana'" placeholder="Type here" lang="ja" />

        </section>

        <section class="demo-section">
            <header class="demo-section-header">
                <h2>Katakana Mode</h2>
            </header>

            <input type="text" to-kana="'katakana'" placeholder="Type here" lang="ja" />

        </section>

        <section class="demo-section">
            <header class="demo-section-header">
                <h2>Switch Mode</h2>
            </header>

            <div>
                <label>
                    <input type="radio" name="which-kana" value="hiragana" ng-model="whichKana" />
                    Hiragana
                </label>

                <label>
                    <input type="radio" name="which-kana" value="katakana" ng-model="whichKana" />
                    Katakana
                </label>
            </div>

            <input type="text" to-kana="whichKana" placeholder="Type here" lang="ja" />

        </section>

        <script src="../bower_components/angular/angular.js"></script>
        <script src="../angular-kana.js"></script>
        <script src="demo.js"></script>
    </body>
</html>
